@import "bootstrap";
.table td, .linebreak {
  word-break: break-word; 
  white-space: normal;    
}

th.first-column {
  width: 20%;
}

th.second-column {
  width: 40%;
}

th.third-column, th.fourth-column {
  width: 10%;
}

text_area{
  width: 50%;
}